:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}


body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: var(--red);

    background-image: url(images/bg-intro-desktop.png);
}


.title {
    color: white;
}

.description {
    color: white;
}

.form {
    background: white;
    border-radius: 8px;
}

input {
    margin-bottom: 14px;
    padding: 12px 16px;
    border-radius: 5px;
    border: solid 1.5px #b6bdbd6b;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 120px;
    justify-content: center;
    align-items: center;
}


.intro, .form-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 30px;

}

.intro {
    min-width: 260px;
}

.form-wrapper {
    max-width: 400px;
    min-width: 400px;
}

.submit {
    color: white;
    background: var(--green);
    border: none;
    box-shadow: 0 3px #449971bd ;
}

.submit:hover {
    cursor: pointer;
    opacity: .6;
}


.small-print {
    color: var(--grayish-blue);
    font-size: 10px;
    text-align: center;
    margin-bottom: 24px;
    margin-left: 40px;
    margin-right: 40px;
}

.offer {
    background: var(--blue);
    color: white;
    padding: 12px 34px;
    text-align: center;
    border-radius: 8px;
    margin: 18px 0;
}

.signup {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
}

.orange {
    color: var(--red);

}


.shadow {
    box-shadow: 0 5px #5f5d5d38;
}


@media only screen and (max-width:736px) {

    .container {
        flex-direction: column;
        padding: 0;
    }

    .intro {
        text-align: center;
    }

    .signup {
        padding: 15px 15px 0 15px;
    }


    .form-wrapper {
        min-width: 284px;

    }





}